{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main>
		<section class="bg-section">
			<div class="row gx-0">
				<div class="col-12 col-lg-6 qui">
					<h2 class="fw-bold text-blue mb-3">Qui sommes-nous ?</h2>
					<p class="qui-p">Nous avons décidé de tout plaquer pour suivre notre voix intérieure et nous consacrer à la culture de champignons bio. Après avoir démissionné de notre travail de fonctionnaires territoriaux, nous nous sommes formés et avons fait des tests dans notre cave avant de nous lancer dans l'aventure. Nous avons saisi l'opportunité d'acquérir du matériel lors d'une vente aux enchères et cultivons désormais des pleurotes et des shiitakes dans deux conteneurs maritimes. C'est une belle histoire de reconversion pour nous, qui avons pris le risque de changer de vie pour nous consacrer à notre passion pour la nature et le vivant.  Notre choix de la culture de champignons bio nous permet de travailler ensemble ...</p>
					<div class="text-end qui-b">
						<a href="#" class="btn btn-blue text-gold fw-bold fs-6">En savoir plus</a>
					</div>
				</div>
			</div>
		</section>
		<div class="divider text-center py-3" id="champignon">
			<picture>
				<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
				<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
				<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
			</picture>
		</div>
		<section class="section-espece">
			<h2 class="fw-bold text-blue fs-1 text-center mb-5">No<span class="bg-text">s Espèces</span>
			</h2>
			<div class="row space">
				<div class="col-md-12 col-lg-6">
					<div class="image-espece text-center px-1 pt-3 pb-5 px-lg-5 pt-lg-3 pb-lg-5 position-relative top-50 start-0 translate-middle-y">
						<picture>
							<source srcset="{{asset ('uploads/images/160/les-Champignons-de-la-Rhonelle-Pleurote-200.webp') }}" media="(max-width: 576px)" width="200" height="200">
							<source srcset="{{asset ('uploads/images/340/les-Champignons-de-la-Rhonelle-Pleurote-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="400">
							<source srcset="{{asset ('uploads/images/680/les-Champignons-de-la-Rhonelle-Pleurote-800.webp')}}" media="(min-width: 993px) and (max-width: 1260px)" width="800" height="800">
							<img class="espece" src="{{asset ('uploads/images/les-Champignons-de-la-Rhonelle-Pleurote-1200.webp')}}" alt="Pleurote Bio Les Champignons de la Rhonelle" width="1200" height="1200">
						</picture>
					</div>
				</div>
				<div class="col-md-12 col-lg-6">
					<div class="text-espece text-center px-1 pt-3 pb-5 px-lg-5 pt-lg-3 pb-lg-5 position-relative top-50 start-0 translate-middle-y">
						<h3 class="fw-bold mb-3">La<span class="bg-text">
								Pleurote</span>
						</h3>
						<div class="divider text-center">
							<picture>
								<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
								<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
								<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
							</picture>
						</div>
						<p class="lh-lg mb-2">La pleurote est un champignon comestible appartenant au genre Pleurotus, avec des espèces telles que la pleurote en huître et la pleurote du panicaut. La pleurote est appréciée pour son goût doux et légèrement noisette, ainsi que pour sa texture ferme et charnue qui se marie bien avec d'autres ingrédients en cuisine. Les pleurotes sont également riches en nutriments, tels que les protéines, les vitamines B et les minéraux. La culture commerciale de pleurotes se fait souvent en sacs de substrat et les pleurotes sauvages se trouvent sur des arbres morts ou des souches.</p>
						<div class="divider text-center">
							<picture>
								<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
								<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
								<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
							</picture>
						</div>
						<a href="#" class="btn btn-blue text-gold fw-bold fs-6 mt-2">En savoir plus</a>
					</div>
				</div>
			</div>
			<div class="row space">
				<div class="col-md-12 col-lg-6">
					<div class="text-espece text-center px-1 pt-3 pb-5 px-lg-5 pt-lg-3 pb-lg-5 position-relative top-50 start-0 translate-middle-y">
						<h3 class="fw-bold mb-3">Le<span class="bg-text">
								Shiitake</span>
						</h3>
						<div class="divider text-center">
							<picture>
								<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
								<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
								<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
							</picture>
						</div>
						<p class="lh-lg mb-2">Le shiitake est un champignon comestible originaire d'Asie, apprécié pour sa texture ferme et charnue, ainsi que pour sa saveur umami riche. Cultivé en sacs de substrat, il est utilisé dans la cuisine asiatique, mais gagne en popularité dans le monde entier pour ses propriétés nutritives et médicinales. Le shiitake contient des vitamines B et des polysaccharides bénéfiques pour la santé. Il pousse naturellement sur des troncs d'arbres, mais est également cultivé commercialement. Le shiitake est polyvalent en cuisine et peut être utilisé dans une variété de plats, y compris les soupes, les sautés et les sauces.</p>
						<div class="divider text-center">
							<picture>
								<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
								<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
								<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
							</picture>
						</div>
						<a href="#" class="btn btn-blue text-gold fw-bold fs-6 mt-2">En savoir plus</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-6">
					<div class="image-espece text-center px-1 pt-3 pb-5 px-lg-5 pt-lg-3 pb-lg-5 position-relative top-50 start-0 translate-middle-y">
						<picture>
							<source srcset="{{asset ('uploads/images/160/les-Champignons-de-la-Rhonelle-Shiitake-200.webp') }}" media="(max-width: 576px)" width="200" height="200">
							<source srcset="{{asset ('uploads/images/340/les-Champignons-de-la-Rhonelle-Shiitake-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="400">
							<source srcset="{{asset ('uploads/images/680/les-Champignons-de-la-Rhonelle-Shiitake-800.webp')}}" media="(min-width: 993px) and (max-width: 1260px)" width="800" height="800">
							<img class="espece" src="{{asset ('uploads/images/les-Champignons-de-la-Rhonelle-Shiitake-1200.webp')}}" alt="Shiitake Bio Les Champignons de la Rhonelle" width="1200" height="1200">
						</picture>
					</div>
				</div>
			</div>
		</section>
		<div class="divider text-center py-3">
			<picture>
				<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
				<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
				<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
			</picture>
		</div>
		<section class="section-recettes">
			<h2 class="fw-bold text-blue fs-1 text-center mb-5">le<span class="bg-text">s Recettes</span>
			</h2>
			<div class="row">
				<div class="col-md-6 col-lg-3 p-4 text-center">
					<a class="link-blue" href="#">
						<picture>
							<source srcset="images/photos/200/wok-legumes-shiitakes-200.webp" media="(max-width: 576px)" width="200" height="300">
							<source srcset="images/photos/400/wok-legumes-shiitakes-400.webp" media="(min-width: 577px) and (max-width: 992px)" width="400" height="600">
							<source srcset="images/photos/800/wok-legumes-shiitakes-800.webp" media="(min-width: 993px) and (max-width: 1260px)" width="800" height="1200">
							<source srcset="images/photos/1200/wok-legumes-shiitakes-1200.webp" media="(min-width: 1261px)" width="1200" height="1800">
							<img class="link-recettes" src="images/photos/wok-legumes-shiitakes.webp" alt=" Wok Shiitake Les Champignons de la Rhonelle" width="750" height="1124">
						</picture>
						<h3 class="mt-4 mt-xxl-5 fs-4">Wok de légumes & Shiitake</h3>
					</a>
				</div>
				<div class="col-md-6 col-lg-3 p-4 text-center">
					<a class="link-blue" href="#">
						<picture>
							<source srcset="images/photos/200/la-Table-De-Fred-1-200.webp" media="(max-width: 576px)" width="200" height="300">
							<source srcset="images/photos/400/la-Table-De-Fred-1-400.webp" media="(min-width: 577px) and (max-width: 992px)" width="400" height="600">
							<source srcset="images/photos/800/la-Table-De-Fred-1-800.webp" media="(min-width: 993px) and (max-width: 1260px)" width="800" height="1200">
							<source srcset="images/photos/1200/laTableDeFred1-1200.webp" media="(min-width: 1261px)" width="1200" height="1800">
							<img class="link-recettes" src="images/photos/la-Table-de-Fred-1.webp" alt="La table de Fred & Les Champignons de la Rhonelle" width="2268" height="3402">
						</picture>
						<h3 class="mt-4 mt-xxl-5 fs-4">La table de Fred</h3>
					</a>
				</div>
				<div class="col-md-6 col-lg-3 p-4 text-center">
					<a class="link-blue" href="#">
						<picture>
							<source srcset="images/photos/200/vermicelles-shiitake-poulet-200.webp" media="(max-width: 576px)" width="200" height="300">
							<source srcset="images/photos/400/vermicelles-shiitake-poulet-400.webp" media="(min-width: 577px) and (max-width: 992px)" width="400" height="600">
							<source srcset="images/photos/800/vermicelles-shiitake-poulet-800.webp" media="(min-width: 993px) and (max-width: 1260px)" width="800" height="1200">
							<source srcset="images/photos/1200/vermicelles-shiitake-poulet-1200.webp" media="(min-width: 1261px)" width="1200" height="1800">
							<img class="link-recettes" src="images/photos/vermicelles-shiitake-poulet.webp" alt="Vermicelles Shiitake Les Champignons de la Rhonelle" width="1066" height="1600">
						</picture>
						<h3 class="mt-4 mt-xxl-5 fs-4">Vermicelles Shiitake poulet</h3>
					</a>
				</div>
				<div class="col-md-6 col-lg-3 p-4 text-center">
					<a class="link-blue link-recettes" href="#">
						<picture>
							<source srcset="images/photos/200/la-Table-De-Fred-2-200.webp" media="(max-width: 576px)" width="200" height="300">
							<source srcset="images/photos/400/la-Table-De-Fred-2-400.webp" media="(min-width: 577px) and (max-width: 992px)" width="400" height="600">
							<source srcset="images/photos/800/la-Table-De-Fred-2-800.webp" media="(min-width: 993px) and (max-width: 1260px)" width="800" height="1200">
							<source srcset="images/photos/1200/laTableDeFred2-1200.webp" media="(min-width: 1261px)" width="1200" height="1800">
							<img class="link-recettes" src="images/photos/la-Table-De-Fred-2.jpg" alt="La table de Fred & Les Champignons de la Rhonelle" width="2268" height="3402">
						</picture>
						<h3 class="mt-4 mt-xxl-5 fs-4">La table de Fred</h3>
					</a>
				</div>
			</div>
		</section>
		<div class="divider text-center py-3">
			<picture>
				<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
				<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
				<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
			</picture>
		</div>

		<section class="section-partenaire">
			<h2 class="fw-bold text-blue fs-1 text-center mb-5">No<span class="bg-text">s Partenaires</span>
			</h2>
			<div class="row">
				<div class="col-6 col-md-4 col-lg-2 p-3">
					<a target="_blank" href="https://www.facebook.com/RotisserieEquipe/?locale=fr_FR" class="link-recettes">
						<picture>
							<source srcset="images/logo-et-partenaires/200/l-Equipe-200.webp" media="(max-width: 576px)" width="200" height="200">
							<img src="images/logo-et-partenaires/l-Equipe.webp" alt="logo l'équipe" width="300" height="300">
						</picture>
					</a>
				</div>
				<div class="col-6 col-md-4 col-lg-2 p-3">
					<a target="_blank" href="https://laruchequiditoui.fr/fr" class="link-recettes">
						<picture>
							<source srcset="images/logo-et-partenaires/200/la-ruche-qui-dit-oui-200.webp" media="(max-width: 576px)" width="200" height="200">
							<img src="images/logo-et-partenaires/la-ruche-qui-dit-oui.webp" alt="logo La ruche qui dit oui" width="300" height="300">
						</picture>
					</a>
				</div>
				<div class="col-6 col-md-4 col-lg-2 p-3">
					<a target="_blank" href="https://www.latabledefred.fr/" class="link-recettes">
						<picture>
							<source srcset="images/logo-et-partenaires/200/la-Table-De-Fred-200.webp" media="(max-width: 576px)" width="200" height="200">
							<img src="images/logo-et-partenaires/la-Table-De-Fred.webp" alt="logo La table de Fred" width="300" height="300">
						</picture>
					</a>
				</div>
				<div class="col-6 col-md-4 col-lg-2 p-3">
					<a target="_blank" href="#" class="link-recettes">
						<picture>
							<source srcset="images/logo-et-partenaires/200/le-Biotope-200.webp" media="(max-width: 576px)" width="200" height="200">
							<img src="images/logo-et-partenaires/le-Biotope.webp" alt="logo le Biotope" width="300" height="300">
						</picture>
					</a>
				</div>
				<div class="col-6 col-md-4 col-lg-2 p-3">
					<a target="_blank" href="http://elcagette-roubaix.org/" class="link-recettes">
						<picture>
							<source srcset="images/logo-et-partenaires/200/el-Cagette-200.webp" media="(max-width: 576px)" width="200" height="200">
							<img src="images/logo-et-partenaires/el-Cagette.webp" alt="logo el cagette" width="300" height="300">
						</picture>
					</a>
				</div>
				<div class="col-6 col-md-4 col-lg-2 p-3">
					<a target="_blank" href="https://www.prunetraiteur.com/" class="link-recettes">
						<picture>
							<source srcset="images/logo-et-partenaires/200/prune-traiteur-200.webp" media="(max-width: 576px)" width="200" height="200">
							<img src="images/logo-et-partenaires/prune-traiteur.webp" alt="logo prune traiteur" width="300" height="300">
						</picture>
					</a>
				</div>
			</div>
		</section>
	</main>
	<div class="divider text-center py-3">
		<picture>
			<source srcset="{{ asset ('uploads/images/160/divider-200.webp')}}" media="(max-width: 576px)" width="200" height="34">
			<source srcset="{{ asset ('uploads/images/320/divider-400.webp')}}" media="(min-width: 577px) and (max-width: 992px)" width="400" height="67">
			<img src="{{ asset ('uploads/images/divider.webp')}}" alt="diviseur champignon" width="487" height="82">
		</picture>
	</div>
	<footer class="bg-blue">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="contact text-gold">
					<ul class="list-unstyled">
						<li>Adresse : Artres, France (59)</li>
						<li>Telephonne : 0668220941</li>
						<li>Email : christophe.ludivine.laurent@gmail.com</li>
						<li>Réseaux sociaux:
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="logoBio text-center">
					<picture>
						<source srcset="images/elements/certification-bio-logo-100.webp" media="(max-width: 576px)" width="100" height="67">
						<img src="images/elements/certification-bio-logo.webp" alt="logo certifcation bio les champignons de la Rhonelle" width="200" height="133">
					</picture>
				</div>
			</div>
		</div>
	</footer>
	<script src="js/bootstrap.min.js" async></script>
	<script>
		const logo = document.querySelector('.logoChampignon');
const navbarBrand = document.querySelector('.navbar-brand');
window.addEventListener('scroll', () => {
if (window.scrollY > 0) {
navbarBrand.style.visibility = 'hidden';
navbarBrand.style.opacity = '0';
navbarBrand.style.height = '0';
navbarBrand.style.transition = 'all 0.5s ease-in-out';
} else {
navbarBrand.style.height = '80px';
navbarBrand.style.visibility = 'visible';
navbarBrand.style.opacity = '1';
navbarBrand.style.transition = 'all 0.5s ease-in-out';
}
})
	</script>

{% endblock %}
