
{{ form_errors(profil) }}

    {{ form_start(profil) }}
        {{ form_row(profil.imageFile) }}
        {{ form_row(profil.non) }}
        {{ form_row(profil.prenom) }}
        {{ form_row(profil.dateDeNaissance) }}

        <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(profil) }}
