{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block body %}
    {% if not profilComplet %}
    {{ form_start(profil) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(profil) }}
    {% else %}
        <img src="{{ asset('uploads/profil/')}}{{ profilComplet.avatar }}"  alt="">
        <p>Bonjour {{ profilComplet.nom }} {{ profilComplet.prenom }} </p>
    {% endif %}
{% endblock %}
