<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block menu %}
        <nav class="navbar navbar-expand-lg bg-blue d-flex flex-column sticky-top">
		<div class="text-center pt-3 px-2">
			<a class="navbar-brand text-center m-0 d-block" href="index.html">
				<img class="logoChampignon" src="{{ asset('uploads/images/logo-100.webp') }}" alt="Logo Les Champignons de la Rhônelle" width="100" height="100">
			</a>
			<h1 class="text-gold my-2">Les Champignons de la Rhônelle</h1>
		</div>
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="text-center collapse navbar-collapse text-gold fw-bold collapse" id="navbarNav">
				<ul class="navbar-nav w-100 justify-content-evenly">
					<li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5" href="espece.html">Nos espèces</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5" href="recettes.html">Nos recettes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5" href="apropos.html">À propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5" href="contact.html">Contact</a>
					</li>
                    {% if app.user %}
                    <li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('app_profil') }}">Profil</a>
					</li>
                    {% else %}    
                    <li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('app_register') }}">Inscription</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('app_login') }}">Connexion</a>
					</li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
						<a class="nav-link fs-5" href="{{ path('app_logout') }}">Logout</a>
					</li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>
    {% endblock %}
        {% block body %}
        

        
        
        {% endblock %}
    </body>
</html>
